<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>学习</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>MEUM</h1>
            <ul>
                <li>
                    <div id="html_div" class="style" style="background-image: linear-gradient(#f0a1a8,#a61b29);">
                        <p class="style">html</p>
                    </div>
                </li>
                <li>
                    <div id="js_div" class="style" style="background-image: linear-gradient(#fb8b05,#4d4030);">
                        <p class="style">javascript</p>
                    </div>
                </li>
                <li>
                    <div id="css_div" class="style" style="background-image: linear-gradient(#fecc11,#867018);">
                        <p class="style">css</p>
                    </div>
                </li>
                <li>
                    <div id="alg_div" class="style" style="background-image: linear-gradient(#93b5cf,#144a74);">
                        <p class="style">algorithm</p>
                    </div>
                </li>
                <li>
                    <div id="cs_div" class="style" style="background-image: linear-gradient(#a0a0a0,#363433);">
                        <p class="style">computer science</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <p class="foot">@2024</p>
    <p class="foot">designed by beifeng</p>
    <script src="../static/js/home.js"></script>
</body>
</html>